<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-toolbar>
    <ion-title class="titulo ion-text-center ion-padding">Bienvenido!!</ion-title>
  </ion-toolbar>

  <ion-toolbar *ngIf="usuario">
    <ion-title >Usuario: {{usuario}}</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-title class="ion-text-center ion-padding">Información adicional</ion-title>
  </ion-toolbar>

  <ion-card>
    <ion-card-content>

      <ion-item>
        <ion-label>Nombre:</ion-label>
        <ion-input required='true' minlength='5' maxlength='50' [(ngModel)]='nombre' type='text' placeholder='Ingresar nombre' ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Apellido</ion-label>
        <ion-input required='true' minlength='5' maxlength='50' [(ngModel)]='apellido' type='text' placeholder='Ingresar apellido'></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Nivel de Educación</ion-label>
        <ion-select required='true' [(ngModel)]='educacion' placeholder="Seleccionar">
          <ion-select-option>Técnico</ion-select-option>
          <ion-select-option>Universitaria</ion-select-option>
        </ion-select>
      </ion-item>


      <ion-item>
        <ion-label position="floating">Fecha de nacimiento</ion-label>
        <ion-datetime required='true' [(ngModel)]='fechaNacimiento' displayFormat="DD/MM/YYYY" min="1960-03-14" max="2025-12-09"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-grid>
          <ion-row>

            <ion-col size="6" >
              <div>
                <ion-button (click)="limpiar()" color='secondary' expand="block">Limpiar</ion-button>
              </div>
            </ion-col>

            <ion-col size="6" >
              <div>
                <ion-button (click)="clickAlert()" color='secondary' expand="block">Mostrar</ion-button>
              </div>
            </ion-col>

          </ion-row>
        </ion-grid>
      </ion-item>

    </ion-card-content>
  </ion-card>


</ion-content>

<ion-footer class="footer">
  <ion-toolbar>
    <ion-title size='small' class='ion-text-center'>
      App desarrollada por
    </ion-title>
    <ion-title class='ion-text-center'>
      Williams Caballero Araya
    </ion-title>
  </ion-toolbar>
</ion-footer>